[lumi] #in fb
lumi2012A =  0.876 
lumi2012B =  4.412 
lumi2012C =  7.055
lumi2012D =  7.360 
lumi2012  = 19.703
lumi2011  =  5.051

[ggH-120]
#cs in fb
cs-mu  = 0.778
Nev-mu = 199985
cs-el  = 1.086
Nev-el = 199480

[ggH-125]
cs-mu  = 0.750
Nev-mu = 199988
cs-el  = 1.038
Nev-el = 198986

[ggH-130]
cs-mu  = 0.688
Nev-mu = 85835
cs-el  = 0.945
Nev-el = 198979

[ggH-135]
cs-mu  = 0.606
Nev-mu = 64805
cs-el  = 0.838
Nev-el = 99990

[ggH-140]
cs-mu  = 0.516
Nev-mu = 85570
cs-el  = 0.718
Nev-el = 98990

[ggH-145]
cs-mu  = 0.420
Nev-mu = 82585
cs-el  = 0.585
Nev-el = 99985

[ggH-150]
cs-mu  = 0.322
Nev-mu = 99587
cs-el  = 0.443
Nev-el = 98987

<<<<<<< HEAD
[cuts-mu]
=======
[cs] #cross sections in pb
#DY = 3333.
DY = 350.
dal-mu = 0.000750
dal-el = 0.001038

[cuts-mu]
-1 = Initial
00 = Ntuple
01 = Gen matching
02 = acceptance
03 = reco gamma iso
04 = reco lept 
05 = M(l1,l2)<20
06 = deltaR(l,gamma), jpsi
07 = trigger
08 = triangle
09 = pt2>7
10 = mH
11 = n/a
12 = jpsi

[cuts-ele]
>>>>>>> 2b9d19d6af2798dba5b82c2e7d5f9fcc67984e51
-1 = Initial
00 = Ntuple
01 = Gen matching
02 = acceptance
03 = reco gamma iso
04 = reco lept 
05 = M(l1,l2)<20
06 = deltaR(l,gamma), jpsi
07 = trigger
08 = triangle
09 = pt2>7
10 = mH
11 = n/a
<<<<<<< HEAD
12 = jpsi
=======
12 = jpsi


-1 = Initial
0 = Ntuple
1 = Gen particles
2 = pt1,pt2
3 = M(l1,l2)<20 
4 = ptgamma0
5 = ptgamma iso
6 = dR(l, gamma)>1
7 = triger
>>>>>>> 2b9d19d6af2798dba5b82c2e7d5f9fcc67984e51
